<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>547</th>
      <td>408912878159544320</td>
      <td>кто знает когда выходит свежая серия на канале тсн евромайдан новая общага янык посидит на ручках у путина в сочи</td>
    </tr>
    <tr>
      <th>9827</th>
      <td>409756634349830144</td>
      <td>и только в холодной россии унылый путин и все памятники ленину неприкосновенны мордор</td>
    </tr>
    <tr>
      <th>860</th>
      <td>408916407171416064</td>
      <td>как путин не понимает че народ вышел искренне причем судя по кадрам</td>
    </tr>
    <tr>
      <th>1015</th>
      <td>408917928156082176</td>
      <td>черниковка очень любит путина первомайская</td>
    </tr>
    <tr>
      <th>5880</th>
      <td>409087697597128705</td>
      <td>это да путин основной квест но есть куча побочных</td>
    </tr>
    <tr>
      <th>5020</th>
      <td>408908338987290624</td>
      <td>мне одному напоминает дом путин делает реалити шоу</td>
    </tr>
  </tbody>
</table>