<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2177</th>
      <td>408929836812353536</td>
      <td>уже несколько раз снилось что либо на вписке либо дуем с хах мозг говна не пожелает</td>
    </tr>
    <tr>
      <th>5899</th>
      <td>409088814427025408</td>
      <td>вот уже где говно у нас тоже было правда чисто семинарчики</td>
    </tr>
    <tr>
      <th>5262</th>
      <td>408927398655459328</td>
      <td>за пять лет студенчества я успел возненавидеть колбасу и пельмени говно</td>
    </tr>
    <tr>
      <th>5906</th>
      <td>409089277713481728</td>
      <td>все прямо так плохо так плохо уж и не знаю как выбираться из говна блин</td>
    </tr>
    <tr>
      <th>5525</th>
      <td>409052382815715328</td>
      <td>когда то мы должны были хлебнуть этого говна</td>
    </tr>
    <tr>
      <th>5272</th>
      <td>408927911509753856</td>
      <td>все сегодняшние планы нарушились зато хоть зарплату забрал хотя и там не обошлось без говна и плохо что ее всю придется отдать</td>
    </tr>
    <tr>
      <th>6937</th>
      <td>409320738642878465</td>
      <td>ванди британское говно тут и про меня есть я британец же оскорбляют меня</td>
    </tr>
    <tr>
      <th>665</th>
      <td>408914249772441600</td>
      <td>медведев партия единая россия это кусок нашей страны ага ага говна кусок</td>
    </tr>
    <tr>
      <th>6174</th>
      <td>409108195333136384</td>
      <td>и таки да я ее поставил да говно но свои плюсы она имеет и один из них это приложения только под нее</td>
    </tr>
    <tr>
      <th>8621</th>
      <td>409554956891734016</td>
      <td>тем врменем в джуйке все меньше и меньше гиковских тем и все больше твиттеро подобного унылого говна ниачем</td>
    </tr>
    <tr>
      <th>8899</th>
      <td>409581235896614912</td>
      <td>в пакетиках чай кончился а такой заваривать ломает и нет времени говно</td>
    </tr>
    <tr>
      <th>9670</th>
      <td>409747004898570240</td>
      <td>сру через бедра вытекли говно все</td>
    </tr>
    <tr>
      <th>5841</th>
      <td>409085366096764928</td>
      <td>их нет ебта а если и есть что то похожее то полное говна</td>
    </tr>
    <tr>
      <th>6355</th>
      <td>409200165128790016</td>
      <td>говно кишки распидорасило зимой опять дохуя школоаниме</td>
    </tr>
    <tr>
      <th>7384</th>
      <td>409359569874595840</td>
      <td>трафик есть но инет работает как говно</td>
    </tr>
    <tr>
      <th>5466</th>
      <td>409049170289639425</td>
      <td>а я говно мне цветы не дарят</td>
    </tr>
    <tr>
      <th>8539</th>
      <td>409547428518694912</td>
      <td>у нас купили тормозное говно</td>
    </tr>
    <tr>
      <th>7519</th>
      <td>409371024472678400</td>
      <td>трафик есть но инет работает как говно</td>
    </tr>
    <tr>
      <th>6240</th>
      <td>409112671444033537</td>
      <td>жуйк уже не торт в все меньше пстов о кодинге и говнах пичаль</td>
    </tr>
    <tr>
      <th>8549</th>
      <td>409548223549038592</td>
      <td>небо голубое вода мокрая солнце яркое жизнь говно</td>
    </tr>
    <tr>
      <th>1777</th>
      <td>408925484941316096</td>
      <td>ч говно и ты говно мы долдны жить вместе ты поймешь</td>
    </tr>
    <tr>
      <th>9978</th>
      <td>409765264813592576</td>
      <td>рань я думала что ты нормальный а ты оказался таким же говном как и все с я в тебе очень разочаровалась</td>
    </tr>
    <tr>
      <th>2558</th>
      <td>408933799641100289</td>
      <td>самый весомый аргумент я музыкант закончил муз школу поэтому эта музыка говно потому что мне не нравится понятно</td>
    </tr>
  </tbody>
</table>