<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6531</th>
      <td>409285415972397056</td>
      <td>умоляю о молитвах тяжко болящий иерей димитрий молодой многодетный папа уже было инфаркта приступ</td>
    </tr>
    <tr>
      <th>9348</th>
      <td>409631282058895360</td>
      <td>а мой папа счас в барановичах</td>
    </tr>
    <tr>
      <th>9607</th>
      <td>409742629488705536</td>
      <td>он что уже есть в инетике главное чтоб папа не узнал и не заставил включать его</td>
    </tr>
    <tr>
      <th>9</th>
      <td>408906765896785920</td>
      <td>люблю маму и папу а в остальное я так влюбляюсь привязываюсь</td>
    </tr>
    <tr>
      <th>1547</th>
      <td>408923155559100416</td>
      <td>у диски моей любви двухлетней сегодня день рождения и у папы моего тоже</td>
    </tr>
    <tr>
      <th>9237</th>
      <td>409622585698033664</td>
      <td>утро начинается с фипи папа еще привез карты по истории оххх на сегодня много дел в понедельник буду врача вызывать</td>
    </tr>
    <tr>
      <th>1558</th>
      <td>408923247926063104</td>
      <td>видно что в первый раз папа</td>
    </tr>
    <tr>
      <th>1817</th>
      <td>408925867079786496</td>
      <td>спасибо чувак обязательно передам вооу ну короче мы с папой сложились деньгами и что то из золота подарим</td>
    </tr>
    <tr>
      <th>156</th>
      <td>408908450065027072</td>
      <td>кому надо повангавать какие у вас трусы обращаетесь к моему папе то есть к дурьману</td>
    </tr>
    <tr>
      <th>5790</th>
      <td>409069311442313216</td>
      <td>папа запалил что я не сплю а рисую я не виновата что вдохновение в час ночи как сумасшедшее прет</td>
    </tr>
    <tr>
      <th>3618</th>
      <td>409050058009894912</td>
      <td>надо маму еще зарегать ахах мама аск читает папа твиттер ппц какой то</td>
    </tr>
    <tr>
      <th>3746</th>
      <td>409050918051934208</td>
      <td>скоро новый год и это мой первый новогодний подарок сумка от папы и от уже люблю ее</td>
    </tr>
    <tr>
      <th>4899</th>
      <td>409059900459724800</td>
      <td>папа очень любит когда я пою и когда я сейчас подпевала песню поздний вечер в соренто даже потише сделал телек</td>
    </tr>
    <tr>
      <th>4272</th>
      <td>409054738186272769</td>
      <td>твит я посвещаю моим любимым бернотович крыскина ямковая гайко пашкевич мама папа женя и мои двум котам люблю вас</td>
    </tr>
    <tr>
      <th>7729</th>
      <td>409387620213719040</td>
      <td>хочу машину себе но как сказал папа хотеть не вредно</td>
    </tr>
    <tr>
      <th>9011</th>
      <td>409591641935454208</td>
      <td>нет папа пишел а то уж подумал</td>
    </tr>
    <tr>
      <th>7477</th>
      <td>409367628093091842</td>
      <td>ну спасибо папа теперь я боюсь что у меня рак кожи</td>
    </tr>
    <tr>
      <th>8759</th>
      <td>409569147752693761</td>
      <td>благодаря папе я проснулась спасибо блин</td>
    </tr>
    <tr>
      <th>6332</th>
      <td>409197478723194880</td>
      <td>с ми утра папа младшему брату мозг выносит</td>
    </tr>
    <tr>
      <th>9533</th>
      <td>409652655397826561</td>
      <td>заехал после изгиба домой покушал и поехал в стрит хреново что папа до центра не смог подкинуть</td>
    </tr>
    <tr>
      <th>958</th>
      <td>408917452169703425</td>
      <td>я не помню что ругалась потом на сл день мы завтракали с папой моим ты еще в моей футболке была</td>
    </tr>
    <tr>
      <th>9790</th>
      <td>409754828642852864</td>
      <td>папа запретил мне хотеть жувачку потому что у меня будет аллергия а я все рано хочуу ее</td>
    </tr>
    <tr>
      <th>1600</th>
      <td>408923599287099392</td>
      <td>а кто сказал что плохая я просто папе пообещала когда была маленькая что никогда не поменяю фамилию</td>
    </tr>
    <tr>
      <th>9026</th>
      <td>409604272179777538</td>
      <td>точно так же папа музыкант у меня но он мне не объясняет слишком занят</td>
    </tr>
    <tr>
      <th>4803</th>
      <td>409059112014872577</td>
      <td>любимый привез пакет фруктов и букет цветов так и лечусь заодно и с папой познакомился</td>
    </tr>
    <tr>
      <th>6340</th>
      <td>409198719104741376</td>
      <td>папа до сих пор не пришел с работы что там за авария такая грандиозная что их уже е сутки не отпускают</td>
    </tr>
    <tr>
      <th>5201</th>
      <td>408923291228057600</td>
      <td>папа хорошо тебе завтра в школу идти а вот мне спать до обеда спасибо</td>
    </tr>
    <tr>
      <th>7889</th>
      <td>409414116231876609</td>
      <td>я б не отказалась на пати щас махнуть тттт но юбилей папы не отпустит меня</td>
    </tr>
    <tr>
      <th>8532</th>
      <td>409547122372255744</td>
      <td>не хотелось бы это госпитализации т б мы сейчас с детками одни без бабушки и папы все разъехались по делам</td>
    </tr>
    <tr>
      <th>8280</th>
      <td>409491243253915648</td>
      <td>месяцев беременна сутки рожаешь мучаешься а сын видите ль на папу похож</td>
    </tr>
    <tr>
      <th>6364</th>
      <td>409201008439746560</td>
      <td>почему же дети делают все это почему ребенок вырастает и убивает своих маму и папу приканчивает двух маленьких сестер</td>
    </tr>
    <tr>
      <th>8287</th>
      <td>409491770460753920</td>
      <td>у папы есть любовница и это в семье из ти человек знаю только я как тружно говорить маме что все в порядке когда на самом деле все</td>
    </tr>
    <tr>
      <th>9968</th>
      <td>409764727666274304</td>
      <td>ну вот папа напился опять будет ужас</td>
    </tr>
    <tr>
      <th>7410</th>
      <td>409361914486333440</td>
      <td>у меня у папы когда она у тебя есть она не кажется тебе такой привлекательной</td>
    </tr>
    <tr>
      <th>7027</th>
      <td>409329988413169664</td>
      <td>я обожаю с мамой этого хаяо миадзаки но против папы точнее его биатлона не противостоять даже двоем</td>
    </tr>
    <tr>
      <th>4986</th>
      <td>409060477029724160</td>
      <td>мама с папой только что приехали после банкета в честь удачно прошедшей маминой выставки</td>
    </tr>
    <tr>
      <th>7036</th>
      <td>409330671694655488</td>
      <td>я тоже хочу на свадьбе танцевать с моим папой</td>
    </tr>
    <tr>
      <th>2301</th>
      <td>408931100783030272</td>
      <td>хочу себе косичку не конский хвост а косичку тоненькую как у моего папы когда то была</td>
    </tr>
    <tr>
      <th>8959</th>
      <td>409586191949127680</td>
      <td>вчера зацепилась в очередной раз чуть не сломала палец и колечко перегнула отдала папе чтоб починил</td>
    </tr>
  </tbody>
</table>